body {
  /* background-color: blue; */
}

.image {
  width: 200px;
  height: 200px;
  list-style-type: none;
}
li {
  list-style-image: none|url|initial|inherit;
}
nav{
  color:white;
  background-color:navy;
}
nav ul{
  padding:1%;
  list-style: none;
}
nav li{
  display: inline;
}
nav a{
  color:white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}
